server:
  port: 9090

spring:
  datasource:
    url: jdbc:h2:mem:mopl;MODE=PostgreSQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:

  sql:
    init:
      mode: never

  jpa:
    hibernate:
      ddl-auto: create-drop

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, env

  endpoint:
    health:
      show-details: always

  health:
    redis:
      enabled: false

logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG
    org.springframework.web: DEBUG